$colors: (
  transparent: transparent,
  primary: #009bde,
  secondary: #6cc04a,
  contrast: #1e428a,
  highlight: #6fc4e9,
  calm: #bad8eb,
  balanced: #dbd9d6,
  danger: #c84646,
  good: #318507,
  white: #fff,
  light: #f5f5f5,
  stable: #ccc,
  medium: #999,
  dark: #666,
  coal: #444,
  black: #000
);
