$colors: (
  primary: rgba(71, 164, 205, 0),
  secondary: rgba(90, 159, 62, 0.417),
  contrast: #1e428a,
  highlight: #6fc4e9,
  calm: #bad8eb,
  balanced: #dbd9d6,
  danger: #c84646,
  good: #318507,
  white: #fff,
  light: #f5f5f5,
  stable: #ccc,
  medium: #999,
  dark: #666,
  coal: #444,
  black: #000,
  transparent: transparent
);
